*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: block;
}


main {
    display: flex;

    border-top: 1px solid #2c2d2a;
    /* Agregar una línea encima de main */
    padding-top: 20px;
    width: 80%;

}

body {
    background-color: #e7dfcf;
    color: #2c2d2a;
    padding: 20px 100px;


}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    font-family: "Montserrat", sans-serif;
}

nav li {
    margin-right: 20px;
    font-weight: bold;
}

.container {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;


}

main {
    display: flex;
    width: 80%;


}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

h2 {
    font-size: 100px;
    font-weight: normal;
}

h2,
p {
    font-family: "EB Garamond", serif;
}



.hijo1 {
    width: 30%;

}

.hijo2 {
    width: 60%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
}

.hijo3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 10%;
}

.hijo3 p {
    align-self: flex-end;
}

.hijo3 img {
    align-self: flex-start;
}